{% extends 'base.html.twig' %}

{% block title %}Alta a médico/a{% endblock %}

{% block body %}
    <h1>Alta médico/a</h1>
    <img title="flaticon icon" class="fotoHome1" width="80px" src="/images/doctor1.png">

    <p> En el siguiente apartado introduzca los datos de su médico</p>
<div class="loginform"> 
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.telefono) }}
        {{ form_row(registrationForm.direccion) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-secondary" type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
